<div class="background">
  <div class="container">
    <div class="card">
      <h2 class="card-title"><em class="fas fa-user-circle icon-title"></em> Login</h2>
      
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div class="form-group">
          <div class="input-with-icon">
            <em class="fas fa-envelope input-icon"></em>
            <input type="email" formControlName="email" placeholder="Email" class="form-control">
          </div>
          <div class="error" *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">
            <em class="fas fa-exclamation-circle"></em> A valid email is required
          </div>
        </div>
        
        <div class="form-group">
          <div class="input-with-icon">
            <em class="fas fa-lock input-icon"></em>
            <input type="password" formControlName="password" placeholder="Password" class="form-control">
          </div>
          <div class="error" *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">
            <em class="fas fa-exclamation-circle"></em> Password is required
          </div>
        </div>
        
        <button type="submit" class="btn-primary" [disabled]="!myForm.valid || isLoading">
          <ng-container *ngIf="!isLoading">
            <em class="fas fa-sign-in-alt"></em> Sign In
          </ng-container>
          <ng-container *ngIf="isLoading">
            <em class="fas fa-spinner fa-spin"></em> Signing In...
          </ng-container>
        </button>
      </form>
      
      <div class="signup-link">
        Don't have an account? <a routerLink="/home">Create One</a>
      </div>
      
      <div class="success" *ngIf="message.length > 0">
        <em class="fas fa-check-circle"></em> You have been logged in successfully.
      </div>
      
      <div class="error-box" *ngIf="userError">
        <em class="fas fa-exclamation-triangle"></em> {{ userError.message }}
      </div>
    </div>
  </div>
</div>
