<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="loggedIn ? '/myblogs' : '/home'" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
      <img src="assets/Penndora-logo1.png" height="40" width="136" alt="Penndora">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" *ngIf="!loggedIn">
          <a class="nav-link" routerLink="/home">
            <em class="fas fa-home me-1"></em> Home
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" *ngIf="loggedIn">
          <a class="nav-link" routerLink="/myblogs">
            <em class="fas fa-home me-1"></em> Home
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!loggedIn">
          <a class="nav-link d-lg-none" routerLink="/login">
            <em class="fas fa-sign-in-alt me-1"></em> Login
          </a>
          <button class="btn btn-outline-light d-none d-lg-block" routerLink="/login">
            <em class="fas fa-sign-in-alt me-1"></em> Login
          </button>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="loggedIn">
          <a class="nav-link profile-link" [routerLink]="'/profile/' + user.uid">
            <em class="fas fa-user-circle me-1"></em> <span>My Profile</span>
          </a>
        </li>
        
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#logoutModal">
            <em class="fas fa-sign-out-alt me-1"></em> Log out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Logout Confirmation Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to log out of your account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="logout()" data-bs-dismiss="modal">Yes, Log Out</button>
      </div>
    </div>
  </div>
</div>
