<div class="card text-dark mt-3 colored-border" [ngStyle]="{'border-left': '4px solid ' + borderColor, '--border-color': borderColor}">
  <div class="card-body">
    <div class="tweet-layout">
      <div class="profile-column">
        <a class="writer-photo" routerLink="/profile/{{postData.owner}}">
          <img [src]="writerPhoto" alt="Writer photo" class="writer-avatar">
        </a>
      </div>
      
      <div class="content-column">
        <div class="tweet-header">
          <a class="user-name" routerLink="/profile/{{postData.owner}}">{{ writerName }}</a>
          <span class="tweet-time">· {{ timeAgo }}</span>
        </div>
        
        <div class="post-clickable-area" [routerLink]="'/view/' + postData.id">
          <div class="tweet-title">
            {{ postData.title }}
          </div>
          
          <div class="tweet-content">
            <div class="content-preview" [innerHTML]="getSafePreview(postData.content, 180)"></div>
            <span class="ellipsis" *ngIf="postData.content && postData.content.length > 180">...</span>
          </div>
        </div>
        
        <div class="tweet-actions">
          <div class="action-buttons-group">
            <button class="action-button comments-action" [routerLink]="'/view/' + postData.id" title="View comments">
              <i class="fas fa-comment"></i> <span class="action-text">Comments</span>
            </button>
            <button *ngIf="user && user.uid == postData.owner" 
                    class="action-button delete-action" 
                    (click)="delete()"
                    title="Delete this post">
              <i class="fas fa-trash-alt"></i> <span class="action-text">Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
