<app-signup></app-signup>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<div class="container">
  <div class="row">
    <div class="col-md-6 text-md-end pt-5">
      <img class="align-middle m-5 d-md-block d-none" height="300px" src="/assets/What-Is-Penndora-Image.png" alt="What is Penndora Image">
    </div>
    <div class="col-md-6"><br><br><br>
      <h2 class="mx-5 my-5">What is Penndora?</h2>
      <h6 class="mx-5 my-1">
        Penndora is a thought sharing platform where you can share your thoughts and craziest ideas with the world. You can also interact with other users by commenting on their posts.
        <br/><br/>
        Create a free account and get started.
        <br/><br/>
        Let's get started!
      </h6>
    </div>
  </div>

  <hr/>

  
 


  <footer class="bg-white text-center text-dark">
    <div class="container p-4">
      <section class="mb-4">
        <!-- <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
          <i class="fab fa-facebook-f"></i>
        </a> -->
        <!-- <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
          <i class="fab fa-twitter"></i>
        </a> -->
        <a class="btn btn-outline-dark btn-floating m-1" href="mailto:amaanuddin0501@gmail.com" role="button" target="_blank">
          <i class="fab fa-google"></i>
        </a>
        <!-- <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
          <i class="fab fa-instagram"></i>
        </a> -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/in/md-amaanuddin-4427a72b9/" role="button" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
  </footer>
</div>


    
    